---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>

	<div class='space-y-4 m-4'>
		
		<h1 class=' text-center text-2xl'>Welcome to Local Coffee Shop Ratings</h1>

		<p class='text-center font-mono'>This coffee shop reviewing blog will focus on local coffee shops that I have visited and will be rated on a 5 point scale based off:</p>

		<div class='flex justify-center'>
			<ul class='steps steps-vertical text-center font-mono justify-center z-[0]'>
				<li class='step step-info sm:text-lg text-sm'>Flavor</li>
				<li class='step step-primary sm:text-lg text-sm'>Quality</li>
				<li class='step step-secondary sm:text-lg text-sm'>Aesthetic</li>
				<li class='step step-accent sm:text-lg text-sm'>Price</li>
				<li class='step step-error sm:text-lg text-sm'>Overall Rating</li>
			</ul>
		</div>

		<p class='text-center font-mono'>I hope you enjoy the reviews and find them helpful in your search for the perfect coffee shop!</p>


	</div>

</BaseLayout>