---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>

	<div class="h-screen bg-yellow-950 text-white">
		
		<h1 class='p-2 text-center text-2xl'>Welcome to Local Coffee Shop Ratings</h1>

		<p class='p-2 text-center'>This is a simple site to rate and review different types of coffee.</p>


	</div>

</BaseLayout>