---

---

<footer class="footer p-6 bg-yellow-900/20">

    <aside>

        <div class='flex overflow-hidden'>
            <img src="https://www.svgrepo.com/show/15373/coffee-bean-for-a-coffee-break.svg" alt="Coffee Bean" class="size-10" />
            <img src="https://www.svgrepo.com/show/15373/coffee-bean-for-a-coffee-break.svg" alt="Coffee Bean" class="size-10" /> 
            <img src="https://www.svgrepo.com/show/15373/coffee-bean-for-a-coffee-break.svg" alt="Coffee Bean" class="size-10" />
            <img src="https://www.svgrepo.com/show/15373/coffee-bean-for-a-coffee-break.svg" alt="Coffee Bean" class="size-10" />    
            <img src="https://www.svgrepo.com/show/15373/coffee-bean-for-a-coffee-break.svg" alt="Coffee Bean" class="size-10" /> 
            <img src="https://www.svgrepo.com/show/15373/coffee-bean-for-a-coffee-break.svg" alt="Coffee Bean" class="size-10" />    
            <img src="https://www.svgrepo.com/show/15373/coffee-bean-for-a-coffee-break.svg" alt="Coffee Bean" class="size-10" />     
        </div>
        
      <p>
        Website created by Manny Aguilera &copy; 2024
        <br />
        Powered by Astro, TailwindCSS, and DaisyUI
      </p>

    </aside>

  </footer>