---
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<div class='navbar gap-2 text-2xl bg-black'>


    <a href='/'>Home</a>
    <a href='/blog'>Blog</a>
    <a href='/contact'>Contact</a>

</div>