---
import {changeTheme} from '../scripts/myScripts.js';
const allPosts = await Astro.glob('../pages/posts/*.md');

---

<div class='navbar shadow-md'>

    <div class='navbar mx-auto'>
        <h1 class=' sm:text-lg text-md text-center'>Local Coffee Shop Ratings</h1>
    </div>

    <details class='dropdown m-auto translate-y-1'>
        <summary class='btn mx-1 text-center border-gray-500 hover:border-white'>Themes</summary>
        <ul class='dropdown-content menu gap-1 rounded-box z-[1] w-24 p-2 text-center'>
            <button class='btn hover:bg-white hover:text-black' onclick="changeTheme('light')">Light</button>
            <button class='btn' onclick="changeTheme('dark')">Dark</button>
            <button class='btn hover:bg-yellow-900 hover:text-white' onclick="changeTheme('coffee')">Coffee</button>
        </ul>
    </details>

    <div class='navbar justify-end gap-2 m-auto translate-y-1'>
        <a class='btn btn-ghost border-white' href='/'>Home</a>
        <a class='btn btn-ghost border-white' href='/blog'>Blog</a>
        <a class='btn btn-ghost border-white' href='/contact'>Contact</a>
    </div>

</div>

<script src='../scripts/myScripts.js'></script>