---
import Navbar from '../components/Navbar.astro' ;
import Footer from '../components/Footer.astro' ;

const siteName = "Coffee Ratings";

const { pageTitle } = Astro.props;

let theme;
---

<html lang="en" data-theme={theme}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{siteName} : {pageTitle}</title>
	</head>
	<body class='flex flex-col h-screen'>
		
		<!-- wrapper -->
		<main class='flex-grow'>

			<!-- Navigation component -->
			<Navbar />


			<!-- Astro Slot component -->
        	<slot />


		</main>

		<Footer />

		

		<!-- Client Side Scripts -->
		<script src='../scripts/myScripts.js'></script>

	</body>
</html>